@import './mixins.scss';
@import './animations.scss';

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.gray-background {
  filter: grayscale(1);
}

.fade-out {
  animation: fadeOut 2s ease-out;
}

.app-background {
  position: fixed;
  //z-index: 80;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  @include responsive('smartphone-portrait', 'portrait') {
    background: url('./../img/background-portrait.jpg')center center no-repeat;
    background-size: cover;
  }

  @include responsive('smartphone-landscape') {
    background: url('./../img/background-medium.jpg')center center no-repeat;
    background-size: cover;
  }

  @include responsive('desktop') {
    background: url('./../img/background-large.jpg')center center no-repeat;
    background-size: cover;
  }
}

