@import './../mixins.scss';

.keyboard-container {
  .keyborad-letters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 5px;

    @include responsive('smartphone-landscape') {
      width: 95%;
    }

    @include responsive('laptop') {
      width: 450px;
    }

    padding: 10px;
    margin: 10px;
    background-color: black;

    button {
      width: 40px;
      height: 40px;
      background-color: #343230;
      color: white;
      font-weight: bold;
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;

      &.disabled {
        opacity: 0.5;
      }
    }
  }
}